@charset "UTF-8";

/*Folha de estilo de -Impressora-*/

*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    line-height: 1.5em;
}
menu{
    display: none;
}
