@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

html,body{
    width: 100vw;
    height: 100vh;
    background: #233EFF;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    color: whitesmoke;
    text-shadow: 3px 3px 0px #1e33d4;
    padding: 10px;
}