@charset "UTF-8";

@media print {
    img#cel{
            display: none;
        }
        img#tablet{
            display: none;
        }
        img#print{
            display: block;
        }
        img#pc{
            display: none;
        }
        img#tv{
            display: none;
        }

*{
    font-family: 'Courier New', Courier, monospace;
}

main, h1{
    text-shadow: none;
    color: black; 
}
main{
    border: 2px solid black;
}

}

@media only screen and (min-width:768px) and (max-width: 991.98px) {
       img#cel{
            display: none;
        }
        img#tablet{
            display: block;
        }
        img#print{
            display: none;
        }
        img#pc{
            display: none;
        }
        img#tv{
            display: none;
        }

body{
    background-image: url(../images/back-tablet.jpg) 
}
}

@media only screen and (min-width:992px) and (max-width: 1199.98px) {
       img#cel{
            display: none;
        }
        img#tablet{
            display: none;
        }
        img#print{
            display: none;
        }
        img#pc{
            display: block;
        }
        img#tv{
            display: none;
        }

body{
    background-image: url(../images/back-pc.jpg) 
}
}

@media only screen and (min-width:1200px) {
       img#cel{
            display: none;
        }
        img#tablet{
            display: none;
        }
        img#print{
            display: none;
        }
        img#pc{
            display: none;
        }
        img#tv{
            display: block;
        }

body{
    background-image: url(../images/back-tv.jpg) 
}
}



