@charset "UTF-8";

@media screen and (max-width: 600px) {
    header > h1{
        margin: auto;
        text-align: center;
    }
    nav{
        width: 100%;
    }
    .botaomenu{
        width: 100%;
        margin: 10px;
    }
}