@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    padding: 0;
    background: #5D2B7F;
    background: linear-gradient(180deg, rgba(93, 43, 127, 1) 0%, rgba(82, 124, 170, 1) 45%, rgba(75, 150, 155, 1) 100%);
    background-repeat: no-repeat;
    height: 97.9vh;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 23px;
    min-width: 300px;
    max-width: 990px;
    height: 600px;
    overflow: hidden;
    box-shadow: 1px 1px 7px black;

    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

div#formulario{
    border-radius: 20px;
}

div > h1{
    text-align: center;
    margin-top: 10px;
}

div#area{
    border: 2px solid #5D2B7F;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #5D2B7F;
    width: 95%;
    height: 51px;
    display: block;
}

.campo{
    border-radius: 15px;
    height: 45px;
    background-color: rgb(127, 201, 201);
    width: calc(100% - 52px);
    border: none;
    margin-top: 2px;
    margin-right: 2px;
    font-size: 1em;
}

.campo:focus-within{
    background-color: white;
}

.campo:hover{
    background-color: rgb(160, 252, 252);
}

.butao{
    width: 100%;
    display: block;
    margin: auto;
    height: 40px;
    margin-bottom: 6px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#entrar{
    background-color: rgb(85, 184, 170);
    color: white;
    font-size: 1em;
}

#esqueci{
    background-color: white;
    border: rgb(64, 138, 128) solid 1px;
    color: rgb(64, 138, 128);
    text-align: center;
    padding-top: 10px;
    max-height: 31px;
}

#entrar:hover{
    background-color: rgb(76, 121, 121);
}
#esqueci:hover{
    background-color: lightblue;
}
#iconmail{
    font-size: 1em;
}

div#imagem{
    background-image: url(seguranca.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 220px;
    border: 1px solid black;
}

#login{
    margin: auto;
    text-align: center;
    padding: 0px 10px;
}