@charset "UTF-8";

@media only screen and (min-width: 767.8px) and (max-width: 991.8px){
    div#login{
        float: right;
        padding: 5px 8px 0px 5px;
        max-width: 62.8%;
    }
    div#imagem{
        float: left;
        max-width: 34.5%;
        background-size: cover;
        min-height: 60vh;
    }
    main{
        width: 75vw;
        height: 48vh;
    }
    
}

@media only screen and (min-width: 991.8px){
    div#login{
        float: left;
        padding: 20px;
        width: 45%;
    }
    div#imagem{
        float: right;
        width: 50%;
        background-size: cover;
        min-height: 60vh;
        
    }
    main{
        width: 85vw;
        height: 50vh;
    }
    .butao{
        width: 100%;
        height: 45px;
    }
}